<footer>
  <section class='bottom grid'>
    <div class='bottom-logo' alt='blazing cloud'></div>
      <section>
        <article class='tile'>
        <ul>
          <li>
          <span>E mail</span> <a href="mailto:info@blazingcloud.net">info@blazingcloud.net</a>
          </li>
          <li>
          <span>Fax</span> (415) 738-5407
          </li>
        </ul>
        </article>
      </section>
      <span class='copyright'>&copy; 2009-2013 Blazing Cloud, Inc.</span>
  </section>
</footer>
</body>
</html>


